.container {
  display: flex;
  flex-direction: column;
}
.text,
.images {
  padding: 45px 0px;
  padding-left: 120px;
  padding-right: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.images {
  padding: 45px 40px;
}
.headingtext {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.headingtextimage {
  width: 50%;
}
.headingtextimage img {
  width: 100%;
}
.text .headingtext p:first-child {
  width: 100%;
  font-size: 60px;
  font-weight: bold;
  text-decoration: underline;
}
.headingtext p:nth-child(2) {
  width: 100%;
  font-size: 35px;
  font-weight: normal;
}
.text p:first-child {
  font-size: 30px;
}
.text p {
  width: 50%;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading::after {
  content: "";
  width: 91px;
  border-bottom: 2px solid black;
}
.textincolor {
  background-color: black;
  color: white;
  text-align: center;
  padding: 62px 169px;
}
.contactus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 120px;
  background-color: black;
  color: white;
}
.imagemain {
  height: 600px;
  width: 100%;
}
.imageone {
  height: 400px;
  width: auto;
}
.textpart {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.textpart p:first-child {
  font-weight: bold;
  font-size: 30px;
}
.textpart p:nth-child(2) {
  font-size: 25px;
}
.contact {
  padding: 20px 25px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.inwhite {
  background-color: #fff;
  color: black;
  padding: 0 40px;
}
.textimg {
  display: flex;
  padding: 45px 120px;
}
.image,
.imagetxt {
  width: 50%;
}
.imagetxt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
}
.imagetxt .boldheading {
  font-weight: bold;
  font-size: 20px;
}
.imagetxt p {
  font-size: 14px;
}
.faqsection {
  background-color: #e2f5ff;
  padding: 45px 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faqsection .faqhead {
  color: #000;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.faq {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.question {
  font-size: 20px;
  font-weight: bold;
}
.marquee {
  border-radius: 10px;
  margin: 30px 0;
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.marqueediv {
  position: absolute;
  display: block;
  margin: auto auto;
  white-space: nowrap;
  min-height: 100%;
  height: 100%;
}
.marqueediv span {
  color: #e5348c;
  display: inline-block;
  padding-left: 110%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;
  font-weight: 900;
  line-height: 400px;
  font-size: 200px;
  animation: marquee 5s linear infinite;
}
.awardshead {
  display: flex;
  flex-direction: column;
  padding: 60px;
  gap: 40px;
  color: white;
}
.awardshead .heading {
  font-size: 80px;
  font-weight: bold;
}
.awardshead .disc {
  align-self: flex-end;
  text-align: left;
  font-size: 30px;
  width: 50%;
}
.awardsimage a:hover {
  transform: scale(1);
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media (max-width: 1200px) {
  .dynamicP {
    font-size: 225px;
  }
}
@media (max-width: 1090px) {
  .dynamicP {
    font-size: 145px;
  }
}
@media (max-width: 850px) {
  .imagetxt {
    padding: 0 0;
  }
  .awardshead .heading {
    font-size: 60px;
  }
  .awardshead .disc {
    width: 70%;
  }
}
@media (max-width: 700px) {
  .marqueediv span {
    padding-left: 50%;
    font-size: 110px;
    animation: marquee 3s linear infinite;
  }
  .dynamicP {
    font-size: 73px;
  }
  .imageone {
    height: auto;
    width: 100%;
  }
  .textimg {
    gap: 40px;
  }
  .text {
    padding: 45px 10px;
    font-size: 12px;
    flex-direction: column;
    gap: 10px;
  }
  .imagemain {
    height: 500px;
    width: 100%;
  }
  .text p {
    width: 100%;
  }
  .headingtext {
    width: 100%;
  }
  .headingtextimage {
    width: 100%;
  }
  .headingtext p:first-child {
    font-size: 33px;
  }
  .headingtext p:nth-child(2) {
    font-size: 18px;
  }
  .contactus {
    padding: 50px 5px;
  }
  .textpart p:first-child {
    font-size: 15px;
  }
  .textpart p:nth-child(2) {
    font-size: 10px;
  }
  .images {
    padding: 0;
  }
  .textincolor {
    font-size: 12px;
    padding: 60px 0;
  }
  .contact {
    width: 150px;
    padding: 15px 15px;
    font-size: 15px;
  }
  .faqsection {
    padding: 45px 10px;
  }
  .faqsection .faqhead {
    font-size: 45px;
  }
  .question {
    font-size: 15px;
  }
  .ans {
    font-size: 14px;
  }
  .textimg {
    padding: 10px 10px;
    flex-direction: column;
  }
  .textimg div {
    width: 100%;
  }
}
.awards {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.awards div {
  width: 50%;
}
.awards .awardsimage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.awards .awardsimage img {
  width: 600px;
  height: auto;
}
.awardsection {
  background-color: white;
  margin-top: 40px;
}
.changeColors {
  animation: fadeInBackgrounds 1s ease forwards;
}

@keyframes fadeInBackgrounds {
  from {
    background-color: white;
  }
  to {
    background-color: #1a1919;
  }
}
@media (max-width: 600px) {
  .awards {
    gap: 10px;
    margin: 10px;
  }
  .awards .awardsimage {
    width: 100%;
    justify-content: center;
  }
  .awards .awardsimage img {
    width: 100%;
    height: auto;
  }
  .awardshead {
    padding: 30px 10px;
  }
  .awardshead .heading {
    font-size: 30px;
  }
  .awardshead .disc {
    font-size: 17px;
  }
}
@media (max-width: 400px) {
  .awardshead {
    gap: 15px;
  }
  .awardshead .disc {
    width: 90%;
  }
  .text .headingtext p:first-child {
    font-size: 45px;
  }
}
