@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,400;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* overflow: hidden; */
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  gap: 20px;
}

.headings {
  margin-top: 40px;
  height: 150vh;
  position: relative;
  padding: 30px;
  background: radial-gradient(circle, lighten(#2b2322, 5%) 15%, #2b2322);
}
.jj {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20vmin;
  color: #2b2322;
  line-height: 0.85;
  background-size: contain;
  background-clip: text;
}
.jj + .jj {
  color: #e5348c;
  animation: meh 3s ease-out infinite alternate;
}
@keyframes meh {
  from {
    clip-path: polygon(100% 0, 100% 100%, 20% 100%, 61% 91%, 94% 47%);
  }
  50% {
    clip-path: polygon(100% 0, 100% 100%, 20% 100%, 59% 52%, 74% 13%);
  }
  to {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 85%, 87% 41%);
  }
}
.jj span {
  display: block;
  margin-bottom: 30px;
}
.jj span:first-child {
  font-size: 550px;
}
.jj span:nth-child(2) {
  font-size: 150px;
}
.jj span:nth-child(3) {
  font-size: 300px;
}
.text {
  font-size: 40px;
  font-weight: bold;
}
.videopart {
  height: 500px;
  background-color: #e2f5ff;
}

@media (max-width: 1150px) {
  .jj span:nth-child(3) {
    font-size: 270px;
  }
  .jj span:first-child {
    font-size: 450px;
  }
}
@media (max-width: 1100px) {
  .jj span:nth-child(3) {
    font-size: 210px;
  }
  .jj span:first-child {
    font-size: 400px;
  }
}
@media (max-width: 850px) {
  .headings {
    height: 80vh;
  }
  .jj span:nth-child(3) {
    font-size: 180px;
  }
  .jj span:first-child {
    font-size: 300px;
  }
  .jj span:nth-child(2) {
    font-size: 130px;
  }
}
@media (max-width: 750px) {
  .jj span:nth-child(3) {
    font-size: 140px;
  }
  .jj span:first-child {
    font-size: 200px;
  }
  .jj span:nth-child(2) {
    font-size: 110px;
  }
}
@media (max-width: 600px) {
    .headings {
        height: 50vh;
    }
  .jj span:nth-child(3) {
    font-size: 88px;
  }
  .jj span:first-child {
    font-size: 140px;
  }
  .jj span:nth-child(2) {
    font-size: 80px;
  }
}
.stickyparent {
  height: 200vh;
  background-color: #fff;
}
.sticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 50vh;
}
.scrollsection {
  position: absolute;
  top: 0;
  height: 100%;
  width: 200vw;
  will-change: transform;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 5vw;
}
.dynamicP {
  color: #2b2322;
  font-family: Poppins;
  font-size: 320px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  padding-left: 12%;
}
.stickyparent2 {
  height: 200vh;
  background-color: #e2f5ff;
}
.sticky2 {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 50vh;
}
.scrollsection2 {
  position: absolute;
  top: 0;
  height: 100%;
  width: 200vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}
.dynamicP2 {
  color: #2b2322;
  font-family: Poppins;
  font-size: 400px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  padding-left: 12%;
}

.section{
  padding: 0 40px;
  height: 750px;
  display: flex;
  gap: 40px;
  text-align: left;
}
.section div:nth-child(2) {
  align-self: flex-end;
  text-align: right;
}
.section .head, .section3 .head {
  font-size: 20px;
  font-weight: bold;
}
.section2{
  height: 500px;
}
.section3{
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 0 40px;
  margin-bottom: 40px;
}
.singleimg {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}
.singleimg img {
  width: 100%;
}
.button {
  color: black;
  bottom: 10%;
  left: 5%;
  padding: 10px 10px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
}
.identity {
  background-color: #e2f5ff;
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 30px;
  text-align: left;
}
.identity .head {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.identity p {
  font-weight: bold;
}
.lastpart {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lastpart p, .lastpart p span {
  color: #000;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  font-weight: bold;
  line-height: normal;
}

.lastpart p span {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 1100px){
  .dynamicP{
    font-size: 200px;
  }
  .dynamicP2{
    font-size: 300px;
  }
}
@media (max-width: 1000px){
  .section{
    height: 500px;
  }
  .lastpart{
    height: auto;
  }
  .lastpart p {
    font-size: 45px;
  }
}
@media (max-width: 800px){
  .dynamicP{
    font-size: 160px;
  }
  .dynamicP2{
    font-size: 206px;
  }
  .section{
    height: 300px;
  }
  .identity{
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-left: 100px;
  }
}
@media (max-width: 450px){
  .dynamicP{
    font-size: 100px;
  }
  .dynamicP2{
    font-size: 130px;
  }
  .section{
    height: auto;
    flex-direction: column;
    gap: 30px;
  }
  .identity{
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-left: 20px;
  }
  .section, .section3{
    padding: 0 20px;
  }
  .singleimg{
    width: auto;
  }
  .sticky2, .sticky{
    height: 30vh;
  }
  .lastpart p {
    font-size: 28px;
    padding: 20px;
  }
  .lastpart{
    background-color: white;
  }
  
}