.mainpart {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
hr {
  border: -1px solid #2b2322;
}
.headings {
  margin-left: 50px;
  margin-top: 40px;
}
.headings :nth-child(1) {
  font-size: 28px;
  font-weight: 600;
}
.headings :nth-child(2) {
  font-size: 35px;
  font-weight: lighter;
}
img {
  width: 100%;
}
.text,
.images {
  display: flex;
  padding: 20px 40px;
}
.text :nth-child(1) {
  width: 50%;
  font-size: 29px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text :nth-child(1)::after {
  content: "";
  width: 91px;
  border-bottom: 2px solid black;
}
.text p {
  width: 50%;
  font-size: 18px;
  word-spacing: 7px;
}
.last {
  position: relative;
  height: 600px;
}
.button {
  position: absolute;
  color: white;
  bottom: 10%;
  left: 5%;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
}
.lastimg {
  height: 100%;
  object-fit: cover;
}
@media (max-width: 700px) {
  .text {
    flex-direction: column;
    gap: 20px;
  }
  .text :nth-child(1),
  .text p {
    width: 100%;
  }
}
@media (max-width: 600px) {
  p {
    padding: 0 10px;
  }
  .text,
  .images {
    padding: 0 0;
    margin-bottom: 10px;
  }
  .text p {
    font-size: 12px;
  }
  .text :nth-child(1) {
    font-size: 25px;
  }
  .button {
    bottom: 20%;
    left: 5%;
  }
  .headings {
    margin-left: 10px;
    margin-top: 40px;
  }
  .last{
    height: auto;
  }
}
