@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,400;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  font-family: "Poppins", sans-serif;
}

.cursor {
  background-color: #e5348c;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.cursor.text-mode {
  height: 120px;
  width: 120px;
  border: 5px solid #e5348c;
  background-color: transparent; /* Adjust the alpha value for transparency */
  mix-blend-mode: difference;
  backdrop-filter: blur(1px); /* Adjust the blur radius as needed */
}

@media (max-width: 500px){
  .cursor, .cursor.text-mode {
    display: none;
  }
}